<h2 style="text-align: center">User Profile Card</h2>

<!-- <div class="card">
  <img
    src="https://www.w3schools.com/w3images/team2.jpg"
    alt="John"
    style="width: 100%"
  />
  <h1>{{ person.name }}</h1>
  <p class="title">{{ person.role }}</p>
  <p>{{ person.university }}</p>
  <div style="margin: 24px 0">
    <a href="#"><i class="fa fa-dribbble"></i></a>

    <ng-template [ngIf]="person.twitter">
      <b>{{ person.twitter }}</b>
    </ng-template>

    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a *ngIf="person.fb; else noFB" href="#"><i class="fa fa-facebook"></i></a>
    <ng-template #noFB>
      <div>Bạn đéo có fb</div>
    </ng-template>
  </div>
  <p><button (click)="handleClick()">Contact</button></p>
</div> -->

<h1>POSTS</h1>
<div *ngFor="let post of posts">
  <h4>User Id: {{ post.userId }}</h4>
  <h4 [class.head]="post.id % 2 == 0">Id: {{ post.id }}</h4>
  <h4>Title: {{ post.title }}</h4>
  <p>{{ post.body }}</p>
  <br />
</div>
